<div class="container">
  <div class="jumbotron">
    <h1>Hello, <%= current_user.name %></h1>
    <p> <%= "ADMIN" if current_user.admin == true %> </p>
    <p> Name: <%= current_user.name %> </p>
    <p> Tickets: <%= current_user.tickets %> </p>
    <p> Mood: <%= current_user.mood %> </p>
    <p> Height: <%= current_user.height %> </p>
    <%= link_to("See attractions", attractions_path, class:"btn btn-primary") %>
  </div>
</div>
