
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Nausea Rating</th>
      <th>Tickets</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
      <% @attractions.each do |attraction| %>
        <tr>
          <td><%= attraction.name %></td>
          <% if attraction.nausea_rating >= 3 %>
            <td class="glyphicon glyphicon-flash"></td>
          <% else %>
            <td class="glyphicon glyphicon-heart"></td>
          <% end %>
          <td><%= attraction.tickets %></td>
          <% if current_user.admin == false %>
            <td><%= link_to("Go on #{attraction.name}", attraction_path(attraction)) %></td>
          <% else %>
            <td><%= link_to("Show #{attraction.name}", attraction_path(attraction)) %></td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>

<% if current_user.admin == true %>
  <%= link_to("New Attraction", new_attraction_path) %>
<% end %>
