<div class="container">
  <div class="jumbotron">
    <h1><%= @attraction.name %></h1>
    <p>Ticket Requirement: <%= @attraction.tickets %></p>
    <p>Height Requirement: <%= @attraction.min_height %></p>
    <p>Nausea Rating: <%= @attraction.nausea_rating %></p>
    <p>Happiness Rating: <%= @attraction.happiness_rating %></p>

    <% if current_user.admin == false %>
    <%= button_to("Go on this ride", rides_path(attraction: @attraction.id), method: :post) %>
    <% else %>
    <%= link_to("Edit Attraction", edit_attraction_path) %>
    <% end %>

    <%= link_to("Back", attractions_path) %>
  </div>
</div>
